.dashboarBio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  color: white;
}

.bx-chevrons-down {
  color: #e0e0e0;
  padding-top: 50px !important;
  cursor: pointer;
  /* animation: bouncedown 1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite; */
}

.bx-chevrons-down:hover {
  color: #13fbe2 !important;
}

/* about */

.dashboardAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86.8vh;
  color: #e0e0e0;
  padding-bottom: 20vh;
}

.dashboardAbout h2 {
  padding-left: 20px;
  padding-right: 20px;
  color: #e0e0e0;
}

.tombolSkills {
  /* margin-bottom: 270px; */
  /* margin-top: 300px !important; */
  text-decoration: none;
  color: #e0e0e0;
  font-size: 1.2rem;
  text-decoration-color: red;
}

.tombolSkills:hover {
  color: #13fbe2;
}

.bx-right-arrow-alt {
  vertical-align: middle;
  color: #13fbe2;
  animation: bounce 1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes bouncedown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}

/* fade in effect */
.fadeInAbout {
  transition: all 1s;
}

@media screen and (max-width: 480px) {
  #aboutnih {
    text-align: justify;
    text-justify: inter-word;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* query */

@media screen and (max-width: 480px) {
  .dashboarBio {
    padding-bottom: 100px;
  }
}

/* button baru download cv*/

.fill {
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  /* font-weight: semi-bold; */
  letter-spacing: 1px;
  padding: 5px 15px;
  outline: 0;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.fill::after {
  content: '';
  background-color: #0fc8b4;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

.btnCV {
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #13fbe2;
  background-color: #13fbe2;
  color: black;
  padding: 5px 15px;
  border-radius: 105px;
  /* font-size: 16px; */
  cursor: pointer;
  transition: 0.3s;
}

.btnCV:hover {
  border: 2px solid #0fc8b4;
  background-color: #0fc8b4;
  color: #e0e0e0;
  transition: 0.3s;
}

.logoditext {
  background-color: #2e3440;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  border-radius: 100px;
}
