.dashboarBio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  color: #e8e8e8;
}
.bxs-down-arrow-alt {
  color: #ffd401;
  /* color: #e0e0e0; */
  padding-top: 50px !important;
  cursor: pointer;
  animation: bouncedown 1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

.bx-chevrons-down:hover {
  color: #ffd401 !important;
  /* color: #13fbe2 !important; */
}

/* about */

.dashboardAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86.8vh;
  color: #e0e0e0;
  padding-bottom: 20vh;
}

.dashboardAbout h2 {
  padding-left: 20px;
  padding-right: 20px;
  color: #e0e0e0;
}

.tombolSkills {
  /* margin-bottom: 270px; */
  /* margin-top: 300px !important; */
  text-decoration: none;
  color: #e0e0e0;
  font-size: 1.2rem;
  text-decoration-color: red;
}

.tombolSkills:hover {
  color: #ffd401;
  /* color: #13fbe2; */
}

.bx-right-arrow-alt {
  vertical-align: middle;
  color: #ffd401;
  animation: bounce 1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes bouncedown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}

/* fade in effect */
.fadeInAbout {
  transition: all 1s;
}

@media screen and (max-width: 480px) {
  #aboutnih {
    text-align: justify;
    text-justify: inter-word;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* query */

@media screen and (max-width: 480px) {
  .dashboarBio {
    padding-bottom: 100px;
  }
}

/* button baru download cv*/

.fill {
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  /* font-weight: semi-bold; */
  letter-spacing: 1px;
  padding: 5px 15px;
  outline: 0;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  position: relative;
  background-color: #e8e8e8;
  color: black;
}

.fill::after {
  content: '';
  background-color: #0fc8b4;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

.logoditext {
  background-color: #2e3440;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  border-radius: 100px;
}

/* .btnCV {
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #13fbe2;
  background-color: #13fbe2;
  color: black;
  padding: 5px 15px;
  border-radius: 105px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
} */

.btnCV {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  margin: auto;
}

/* .btnCV:hover {
  border: 2px solid #0fc8b4;
  background-color: #0fc8b4;
  color: #e8e8e8;
  transition: 0.3s;
} */

.btnCV:after {
  content: ' ';
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.btnCV:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btnCV span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 8px 12px;
  color: #fcdc00;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.btnCV:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
