.containerContact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.emailaz {
  text-decoration: none;
  color: #33bff4;
}

.emailaz:hover {
  color: #e8e8e8;
}

.bxs-envelope {
  padding-right: 5px;
  vertical-align: middle;
  color: #e8e8e8;
  /* color: #33bff4; */
  animation: bouncetop 1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bouncetop {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 5px, 0);
  }
}

@media screen and (max-width: 480px) {
  .containerContact {
    padding-left: 50px;
    padding-right: 50px;
  }
  .containerContact h1 {
    font-size: 25px;
  }
  .emaiil {
    font-size: 25px;
    /* background-color: red; */
  }
}

/* .dashboardContact {
  background-color: red;
} */
