.card {
  max-width: 20rem;
  max-height: 18rem;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
}

.card img {
  transition: all linear 0.25s;
  filter: grayscale(100%);
}

.card .profile-name {
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  bottom: 50px;
  font-size: 30px;
  color: black;
  text-shadow: 20px 20px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
}

.card .profile-icons {
  /* position: absolute;
  bottom: 5px;
  right: 5px; */
  color: #fff;
  transition: all linear 0.25s;
  filter: grayscale(100%);
}

.card .profile-username {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: black;
  font-size: 13px;
  transition: all linear 0.25s;
}

.card .profile-icons {
  margin: 5px;
}

.card:hover img {
  filter: grayscale(0%);
}

.card:hover .profile-name {
  /* bottom: 80px; */
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 25px;
}

.card:hover .profile-username {
  bottom: 60px;
}

.card:hover .profile-icons {
  /* right: 40px; */
  filter: grayscale(0%);
}

.borderlogo {
  padding-top: 8px !important;
  padding-right: 10px !important;
  padding-left: 8px !important;
  background-color: #f2f2f2 !important;
  border-radius: 100px;
}

.logoBahasa {
  vertical-align: middle;
}

.tombolcontact {
  /* margin-bottom: 270px; */
  /* margin-top: 300px !important; */
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  /* margin-top: 100px !important; */
}

.tombolcontact:hover {
  color: #13fbe2;
}

.kartuProjek {
  background-color: #282f3c !important;
}

.align-start {
  text-align: left;
}

.align-end {
  text-align: right;
}

.buttonView {
  border: 2px solid #13fbe2;
  background-color: #13fbe2;
  border: none;
  color: black;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 8px;
  border-radius: 12px;
  transition: all linear 0.25s;
  filter: grayscale(100%);
}

a:link {
  text-decoration: none !important;
}

.card:hover .judulproject a {
  /* right: 40px; */
  filter: grayscale(0%);
}

.judulproject a:hover {
  background-color: #0fc8b4;
  color: white;
  transition: 0.3s;
}
