/* .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e");
} */

/* .navbar-dark .navbar-toggler-icon {
  background-img: url("data:image/svg + xml,
    %3csvgxmlns='http://www.w3.org/2000/svg'viewBox='0 0 30 30'%3e%3cpathstroke='rgba%28255, 255, 255, 0.55%29'stroke-linecap='round'stroke-miterlimit='10'stroke-width='2'd='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} */
.f-top {
  background-color: #111827;
}

.logoazra {
  width: 200px;
}

.custom-togler {
  /* border-color: #111827; */
  color: #111827;
}

.navbarmenu {
  text-decoration: none !important;
}

.navbarlogo {
  text-decoration: none !important;
}

#navbarasli {
  font-family: 'Poppins', sans-serif !important;
  padding-top: 10px;
  color: #e8e8e8 !important;
}

.fixed-top {
  background-color: red;
}

@media screen and (max-width: 480px) {
  .logoazra {
    width: 150px;
  }
}

#navbarasli .active {
  /* background-color: red !important; */
  color: #61dafb;
}

.navbar-toggler-icon {
  background-image: url('./ghost-regular-24.png') !important;
}
