.dashboardProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  color: #e8e8e8;
}
.dashboardProject2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding-bottom: 110px; */
  background-color: #111827;
  color: #e8e8e8;
}

#project {
  /* opacity: 0; */
  /* padding-bottom: 20vh !important; */
}

@media screen and (max-width: 480px) {
  .dashboardProjects {
    /* padding-bottom: 100px; */
  }
  .dashboardProject2 {
    background-color: #111827;
    height: 100%;
    /* padding-top: 250px; */
    /* padding-bottom: 110px; */
  }
}
