.dashboardHome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86.8vh;
  color: white;
}

.text {
  opacity: 0;
}

.tombolHome {
  text-decoration: none;
  color: white;
  padding-top: 50px;
  opacity: 0;
}

.bx-right-arrow-circle {
  color: #fbfbfb;
}

.bx-right-arrow-circle:hover {
  color: #13fbe2;
  transition-duration: 0.8s;
}

.typewritter {
  font-family: 'Inconsolata', monospace;
  font-weight: semi-bold;
}

/* text decoration */

@media screen and (max-width: 480px) {
  .dashboardHome {
    padding-bottom: 100px;
  }
}
