.dashboard {
  /* min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  padding-top: 85px;
  color: white;
}

.tombolHome {
  text-decoration: none;
  color: white;
  padding-top: 120px;
}

.bx-right-arrow-alt {
  animation: bounce3 2s infinite;
  color: #fbfbfb;
}

.bx-right-arrow-alt:hover {
  color: red;
}

.tombolHome:hover {
  color: red;
  transition-duration: 0.3s;
}

/* .tombolHome a {
  text-decoration: none;
  color: white;
} */
