.dashboard {
  padding-top: 50px;
  color: white;
}

.tombolHome {
  text-decoration: none;
  color: white;
  padding-top: 120px;
}

.tombol-arrow {
}

.bx-right-arrow-alt {
  animation: bounce3 2s infinite;
  color: #fbfbfb;
}

.tombolHome:hover {
  color: #13fbe2;
  transition-duration: 0.3s;
}

.typewritter {
  font-family: 'Inconsolata', monospace;
  font-weight: semi-bold;
}

/* text decoration */
