@media screen and (max-width: 480px) {
  .copyright {
    float: none !important;
    padding-left: 0;
  }
  .logo {
    float: none !important;
    padding-right: 0;
  }
}

.copyright {
  float: left;
  padding-bottom: 15px;
}

.logo {
  float: right;
  padding-bottom: 15px;
}

.footer {
  background-color: #111827;
  padding-top: 10px;
  /* opacity: 0.7; */
  /* background-color: red; */
}
