.dashboardSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  color: white;
}

.dashboardSkills2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.bx-chevrons-down {
  padding-top: 110px;
}

.dashboardSkill3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.dashboardSkill h2 {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-align: justify;
}
.dashboardSkills2 h2 {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-align: justify;
}
.dashboardSkill3 h2 {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-align: justify;
}

.buttonkebawahskills {
  /* margin-top: 10px; */
}

@media screen and (max-width: 480px) {
  .dashboardSkills {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 480px) {
  #aboutskill1 {
    text-align: justify;
    text-justify: inter-word;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* fadein */
.fadeInSkills {
  opacity: 0;
  transition: all 4s;
  background-color: red;
}
